.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-min (desktop){
        justify-content: flex-start;
    }
}

.burger{
    position: relative;
    z-index: 9999;
    padding: 0;
    margin-left: auto;
    border: none;
    background-color: transparent;

    @include media-min (tablet){
        display: none;
    }
}

.burger__icon--close {
    display: none;
}

.burger.is-open{
    position: fixed;
    top:10px;
    right:15px;
}

.burger.is-open .burger__icon--open{
    display: none;
}

.burger.is-open .burger__icon--close{
    display: block;
}

.mobile-menu {
        position: fixed;
        display: none; 
        flex-direction: column;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        top:0;
        left:0;

        transform: translateX(-100%);

        transition: transform 250ms linear 250ms;


        background: getColor('white');

        &.is-open{
            display: flex;
            transform: translateX(0);
            justify-content: space-between;
        }
}

.mobile-menu__link {
    color: getColor('primary-text-color');
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;

    @include transition(color);

    &:hover,
    &:focus {
        color: getColor('accent');
    }
}

.mobile-menu__link--current {
    color: getColor('accent');
    position: relative;
    display: inline-block;
    padding-bottom: 5px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: getColor('accent');
        border-radius: 2px;
    }
}

.mobile-menu__address{
    justify-content: flex-end;
}

.mobile-menu__item {
    margin-bottom: 32px;
}

.mobile-menu__address--blue{
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.02em;
    
    color: getColor('accent');
}

.mobile-menu__address--grey{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: getColor('secondary-text-color');
}

.mobile-menu__social--flex{
    display: flex;
    
    &:not(:last-child){
        padding-right: 20px;
    }
}

.mobile-menu__social-item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,0.2);
}

.mobile-menu__social-item:not(:first-child){
    padding-left: 10px;
}

.mobile-menu__social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    /* identical to box height, or 122% */
    letter-spacing: 0.02em;

    color: getColor('accent');
}