.footer {
    background-color: getColor('secondary-background-color');

    @media screen and (max-width: 1200px){
        margin-top: 30px;
    }
}

.logo--white {
    color: getColor('white');
    
}

.footer__top {
    @include media-min (tablet){
        display: flex;
        justify-content: space-around;
    }
    
}

.footer .container{
    display: flex;
    flex-direction: column;

    padding-top: 60px;
    padding-bottom: 60px;

    @include media-min(desktop){
        flex-direction: row;
    }
}

.footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-min (desktop){
        align-items: flex-start;
    }
}

.address-footer {
    line-height: 1.71;
    color: getColor(secondary-text-color);
    margin-top: 20px;
    
    @include transition();
}


.address-footer__item{
    margin-bottom: 9px;
}

.address-footer__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 60px;

    @include media-min(desktop){
        margin-bottom: 0;
        align-items: flex-start;
    }
}

.address-footer__link--grey {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
/* or 171% */

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.address-footer__street {
    font-weight: 400;
    line-height: 1.71;
    color: getColor('white');
}

.address-footer__link:hover,
.address-footer__link:focus{
    color: getColor('accent');
}



