/* WORKS */
.works {
    display: flex;
    flex-wrap: wrap;

    @include media-min(desktop){
        flex-direction: raw;
    }
}

.works__item {
    margin-bottom: 30px;

    @include transition(box-shadow);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }


    @include media-min(tablet){
        margin: 15px;
        width: calc((100% - 4 * 15px) / 2);
    }

    @include media-min(desktop){
        margin: 15px;
        width: calc((100% - 6 * 15px) / 3);
        
    }
    

}

.works__link {
    color: getColor('primary-text-color');
}

.works__img{
    position: relative;
    overflow: hidden;
}

.works__overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    transform: translateY(100%);
    overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .works__link:hover &,
    .works__link:focus & {
        transform: translateX(0);
        background-color: getColor('accent');
        opacity: 90%;
    }
}

.works__description{
    margin:0;
    padding:0;

    font-family: $roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: getColor('white');
}

.works__lower-content {
    border: 1px solid #eeeeee;
    border-top: transparent;
    padding: 20px 24px;
}

.works__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works__text {
    font-size: 16px;
    line-height: 1.88;
    color: getColor('secondary-text-color');
    margin-top: 0;
    margin-bottom: 0;
}